<div>
    <h2 class="">Genres</h2>
    {% for item in items %}
    <div class="tooltip tm-text-primary">
        {{item.title}}}
        <div class="bottom">
            <p>{{item.description}}</p>
        </div>
    </div>
    {% endfor %}
</div>