<div>
    <h2 class="">Genres</h2>
    {% for item in items %}
    <div class="tooltip tm-text-primary">
        Action
        <div class="bottom">
            <p>Genre description. Genre description.Genre description.Genre description.Genre description.Genre description.Genre description.Genre description.Genre description.Genre description.Genre description.</p>
        </div>
    </div>
    {% endfor %}
</div>