{% block content %}
<div class="container">
  <h2 class="">{{ item.title }}</h2>
  <div class="">
    <div class="">
      <img src="{{ item.path }}" />
    </div>
    <div class="">
      <div class="">
        <p class="">
          {{ item.description }}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
