<nav class="navbar">
  <div class="container">
    <a
      class="navbar-brand"
      href="../main/index.php"
    > 
      {{ navbar_brand }}
    </a>

    <ul class="navbar-nav">
      {% for item in navbar_items %}
        <li class="nav-item">
          <a
            class="navbar-small-txt"
            href="{{ item.href }}"
          >
            {{ item.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
