<div class="gallery-profile">
    <h3>Favourites</h3>
    {% for item in items %}
    <div class="gallery-item">
        <img
        class="gallery-picture-link"
        src="{{item.imagelink}}"
        ></img>
        <div class="item-info">
            <p class="name"> {{item.title}} </p>
            <p class="date">{{item.username}} FAVORITED THIS AT {{item.date}}</p>
            <img src="../assets/icons/heart.svg" class="icon"/>
        </div>
    </div>
    {% endfor %}
</div>